version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: user-mongo
    ports:
      - "27017:27017"
    volumes:
      - user_mongo_data:/data/db

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3000:3000"
    env_file:
      - ./user-service/.env
    depends_on:
      - mongo

volumes:
  user_mongo_data:
